# This is a template for chezmoi configuration
# It will be copied to ~/.config/chezmoi/chezmoi.toml if it doesn't exist

[data]
    name = "{{ promptString "What is your full name" }}"
    email = "{{ promptString "What is your email" }}"
    type = "{{ promptString "What type of machine is this (work/personal)" }}"
    powershell_profile_path = "{{ env "POWERSHELL_PROFILE_PATH" }}"

[git]
    autoCommit = true
    autoPush = false

[edit]
    command = "code"
    args = ["--wait"]

[merge]
    command = "code"
    args = ["--wait", "--diff", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"] 

[scriptEnv]
    POWERSHELL_PROFILE_PATH = 'true' 
