[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = 'Joseph Doty'
	email = {{ .email | quote }}
[alias]
    sync = "!f() { git stash; git pull; git stash pop; }; f"