{{ if eq .chezmoi.os "windows" -}}
# Check if running in a VM
$isVM = (Get-WmiObject -Class Win32_ComputerSystem).Model -match "Virtual|VMware|VirtualBox|HVM|Parallels"

# Enable Windows features only if not in a VM
if (-not $isVM) {
    Write-Host "Enabling Windows features..."
    Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Windows-Subsystem-Linux -All -NoRestart
    Enable-WindowsOptionalFeature -Online -FeatureName VirtualMachinePlatform -All -NoRestart
} else {
    Write-Host "Running in a VM - skipping Windows features enablement..."
}

# Configure git
Write-Host "Configuring git..."
git config --global core.autocrlf true
git config --global core.eol lf

# Disable Windows 11 Widgets by uninstalling Windows Web Experience Pack
Write-Host "Disabling Windows 11 Widgets..."
winget uninstall "windows web experience pack" --silent --accept-source-agreements

# Set the registry key to show hidden files
Set-ItemProperty -Path "HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" -Name "Hidden" -Value 1

# Set the registry key to show system hidden files
Set-ItemProperty -Path "HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" -Name "ShowSuperHidden" -Value 1

# Set the registry key to show file extensions
Set-ItemProperty -Path "HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" -Name "HideFileExt" -Value 0

# Set the registry key for running alias.cmd automatically
if (-not (Test-Path "HKCU:\Software\Microsoft\Command Processor")) {
    New-Item -Path "HKCU:\Software\Microsoft\Command Processor" -ItemType Directory
}
Set-ItemProperty -Path "HKCU:\Software\Microsoft\Command Processor" -Name "AutoRun" -Value "%USERPROFILE%\alias.cmd"

# Refresh the File Explorer to apply the changes
$explorerProcess = Get-Process -name explorer
$explorerProcess.Refresh()

# Wait for a moment to allow the changes to take effect
Start-Sleep -Seconds 2

# Open File Explorer to display hidden files and file extensions
explorer.exe /e, /root, C:\
{{ end -}}