{{ if eq .chezmoi.os "windows" -}}
{{ range .packages.windows.shared.winget -}}
winget install {{ . | quote }}
{{ end -}}
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
fnm install --lts
fnm use lts-latest
{{- if eq .type "work" }}
{{ range .packages.windows.work.winget -}}
winget install {{ . | quote }}
{{ end -}}
{{ range .packages.npm.work -}}
npm install -g {{ . | quote }}
{{ end -}}
{{- end }}
{{- if eq .type "personal" }}
{{ range .packages.windows.personal.winget -}}
winget install {{ . | quote }}
{{ end -}}
{{- end }}
{{ end -}}