{{ if eq .chezmoi.os "windows" -}}
{{ range .packages.windows.shared.winget -}}
winget install {{ . | quote }}
{{ end -}}
{{- if eq .chezmoi.hostname "JOSEPHDOTY88A6" }}
{{ range .packages.windows.work.winget -}}
winget install {{ . | quote }}
{{ end -}}
{{ range .packages.npm.work -}}
npm install -g {{ . | quote }}
{{ end -}}
{{- end }}

{{- if eq .chezmoi.hostname "jo-redux-pc" }}
{{ range .packages.windows.personal.winget -}}
winget install {{ . | quote }}
{{ end -}}
{{- end }}
{{ end -}}